#  Template python-build

#  This template allows you to validate your python code.
#  The workflow allows running tests and code linting on the default branch.

image: python:3.8.5

pipelines:
  default:
    - parallel:
      - step:
          name: Test
          caches:
            - pip
          script:
            - cd app
            - pip install -r requirements.txt
            - python -m pytest -vv --junitxml=test-reports/report.xml