image: python:3.8.5

commonStep: &testStep 
 - step:
    name: Test
    caches:
      - pip
    script:
      - export ENV=local DEBUG=True REDIS_NODE=redis:6379 CELERY_WORKER_NUM=2 CELERY_CHATBOT_QUEUE_NAME=chatbot-queue CELERY_DOWNLOAD_QUEUE_NAME=downloader-queue LINE_CHANNEL_ACCESS_TOKEN='fake-line-token' LINE_CHANNEL_SECRET='fake-line-secret' OPEN_WEATHER_APPID='fake-weather-appid'
      - cd app
      - pip install -r requirements.txt
      - python -m pytest -vv -o junit_family=xunit2 --junitxml=test-reports/junit.xml

pipelines:
  default:
    - <<: *testStep

  branches:
    master:
      - <<: *testStep
      - step:
          name: Deploy to Prod
          deployment: production
          script:
            - pipe: atlassian/ssh-run:0.2.8
              variables:
                SSH_USER: $SSH_USER
                SERVER: $SERVER
                PORT: $SSH_PORT
                COMMAND: 'cd /home/jim/chatbot && git pull && docker-compose up -d --build'