#  Template python-build

#  This template allows you to validate your python code.
#  The workflow allows running tests and code linting on the default branch.

image: python:3.8.5

pipelines:
  default:
    - parallel:
      - step:
          name: Test
          caches:
            - pip
          script:
            - export ENV=local DEBUG=True REDIS_NODE=redis:6379 CELERY_WORKER_NUM=2 CELERY_CHATBOT_QUEUE_NAME=chatbot-queue CELERY_DOWNLOAD_QUEUE_NAME=downloader-queue LINE_CHANNEL_ACCESS_TOKEN='fake-line-token' LINE_CHANNEL_SECRET='fake-line-secret' OPEN_WEATHER_APPID='fake-weather-appid'
            - cd app
            - pip install -r requirements.txt
            - python -m pytest -vv -o junit_family=xunit2 --junitxml=test-reports/junit.xml

  custom: # Pipelines that are triggered manually
    deployment-to-prod:
      deployment: prod
      - step:
          script:
            - ssh jim@eatpig.tplinkdns.com -p 1022 "cd chatbot && git pull && docker-compose up -d --build"