version: '2.3'
services:
  # postgres:
  #   image: postgres:9.5
  #   container_name: chatbot-service-db
  #   restart: always
  #   volumes:
  #     - ./init-docker-db:/docker-entrypoint-initdb.d/
  #     - db:/var/lib/postgresql/
  #   networks:
  #     - chatbot-service
  #   environment:
  #     - POSTGRES_PASSWORD=postgres

  redis:
    image: redis:6.0.9-alpine
    container_name: chatbot-service-redis
    restart: always
    networks:
      - chatbot-service

  chatbot-service:
    image: chatbot-service:latest
    container_name: chatbot-service
    entrypoint: sleep infinity  # for develop use
    depends_on:
      - redis
      # - postgres
    restart: always
    volumes:
      - ./app:/app
      - ./download:/download
      - $HOME/.config/rclone:/home/chatbot/.config/rclone  # linux 的 rclone 需改成 777
    ports:
      - "8001:8080"
    networks:
      - chatbot-service
    environment:
      ENV: "local"
      DEBUG: "True"
      HTTP_PROC_NUM: 1

      REDIS_NODE: "redis:6379"
      CELERY_WORKER_NUM: 2
      CELERY_CHATBOT_QUEUE_NAME: "chatbot-queue"
      CELERY_DOWNLOAD_QUEUE_NAME: "downloader-queue"

      LINE_CHANNEL_ACCESS_TOKEN: "bBjmpT4vqeJ44Dz73JZTevOqFbbYaQuS66C6UTJFdoDZ2GwQgLASkoM/HBqhcWJsfIDJCZoZEICqotlggFlYo/M4ea605jKJy7SoNbxGrYylzl2CTVKcE+/uIp3MQSqurIJMNPFNjgICiggp0bRCcgdB04t89/1O/w1cDnyilFU="
      LINE_CHANNEL_SECRET: "eb46f7b90daecfa30c6d959ac339cea4"

      OPEN_WEATHER_APPID: "c410ae0b72ae983222a1dce5da653f3b"
      SLACK_WEBHOOK: "/TLCN5BC74/B01GNUQ82G7/xQLkYVfXwZislicoeVRCFfB3"

      MOTION_SERVER_IP: "192.168.68.58"
      MOTION_GDRIVE_LINK : "https://drive.google.com/drive/folders/1bfHfHxH2Tt-iLlqAqmH5HhnAcx104eiY?usp=sharing"

      WEATHER_CENTER_IP: "192.168.68.57:8002"

networks:
  chatbot-service:
    name: chatbot-service-network
    driver: bridge

# volumes:
#   db:
#     name: chatbot-service-db-data
