version: '2.3'
services:
  redis:
    image: redis:6.0.9-alpine
    container_name: chatbot-service-redis
    restart: always
    networks:
      - chatbot-service
    mem_limit: 500M

  chatbot-service--http_adapter:
    build:
      context: .
      dockerfile: Dockerfile
    image: chatbot-service:latest
    container_name: chatbot-service--http_adapter
    restart: always
    ports:
      - "8001:8080"
    networks:
      - chatbot-service
    mem_limit: 600M
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:8080/healthcheck"]
    #   interval: 1m
    #   timeout: 10s
    #   retries: 5
    #   start_period: 30s
    logging:
      driver: "json-file"
      options:
        max-size: "1k"
        max-file: "3"
    environment:
      ENV: "prod"
      SERVE_MODE: "http_adapter"
      HTTP_PROC_NUM: 2
      REDIS_NODE: "redis:6379"
      
      CELERY_CHATBOT_QUEUE_NAME: "chatbot-queue"
      CELERY_DOWNLOAD_QUEUE_NAME: "downloader-queue"

      LINE_CHANNEL_ACCESS_TOKEN: "bBjmpT4vqeJ44Dz73JZTevOqFbbYaQuS66C6UTJFdoDZ2GwQgLASkoM/HBqhcWJsfIDJCZoZEICqotlggFlYo/M4ea605jKJy7SoNbxGrYylzl2CTVKcE+/uIp3MQSqurIJMNPFNjgICiggp0bRCcgdB04t89/1O/w1cDnyilFU="
      LINE_CHANNEL_SECRET: "eb46f7b90daecfa30c6d959ac339cea4"

      SLACK_WEBHOOK: "/TLCN5BC74/B01GNUQ82G7/xQLkYVfXwZislicoeVRCFfB3"

  chatbot-service--celery_beat:
    build:
      context: .
      dockerfile: Dockerfile
    image: chatbot-service:latest
    container_name: chatbot-service--celery_beat
    restart: always
    depends_on:
      - redis
    networks:
      - chatbot-service
    mem_limit: 500m
    logging:
      driver: "json-file"
      options:
        max-size: "1k"
        max-file: "3"
    environment:
      ENV: "prod"
      SERVE_MODE: "celery_beat"
      REDIS_NODE: "redis:6379"
      
      CELERY_CHATBOT_QUEUE_NAME: "chatbot-queue"
      CELERY_DOWNLOAD_QUEUE_NAME: "downloader-queue"
    
  chatbot-service--celery_worker--downloader:
    build:
      context: .
      dockerfile: Dockerfile
    image: chatbot-service:latest
    container_name: chatbot-service--celery_worker--downloader
    restart: always
    volumes:
      - $HOME/.config/rclone:/home/chatbot/.config/rclone  # linux 的 rclone 需改成 777
    depends_on:
      - redis
    networks:
      - chatbot-service
    mem_limit: 3G
    logging:
      driver: "json-file"
      options:
        max-size: "1k"
        max-file: "3"
    environment:
      ENV: "prod"
      SERVE_MODE: "celery_worker"
      REDIS_NODE: "redis:6379"
      CELERY_WORKER_NUM: 4
      CELERY_LISTEN_QUEUE_NAME: "downloader-queue"

      LINE_CHANNEL_ACCESS_TOKEN: "bBjmpT4vqeJ44Dz73JZTevOqFbbYaQuS66C6UTJFdoDZ2GwQgLASkoM/HBqhcWJsfIDJCZoZEICqotlggFlYo/M4ea605jKJy7SoNbxGrYylzl2CTVKcE+/uIp3MQSqurIJMNPFNjgICiggp0bRCcgdB04t89/1O/w1cDnyilFU="
      LINE_CHANNEL_SECRET: "eb46f7b90daecfa30c6d959ac339cea4"

      SLACK_WEBHOOK: "/TLCN5BC74/B01GNUQ82G7/xQLkYVfXwZislicoeVRCFfB3"

  chatbot-service--celery_worker--chatbot:
    build:
      context: .
      dockerfile: Dockerfile
    image: chatbot-service:latest
    container_name: chatbot-service--celery_worker--chatbot
    restart: always
    volumes:
      - $HOME/.config/rclone:/home/chatbot/.config/rclone  # linux 的 rclone 需改成 777
    depends_on:
      - redis
    networks:
      - chatbot-service
    mem_limit: 2.5G
    logging:
      driver: "json-file"
      options:
        max-size: "1k"
        max-file: "3"
    environment:
      ENV: "prod"
      SERVE_MODE: "celery_worker"
      REDIS_NODE: "redis:6379"
      CELERY_WORKER_NUM: 2
      CELERY_LISTEN_QUEUE_NAME: "chatbot-queue"

      LINE_CHANNEL_ACCESS_TOKEN: "bBjmpT4vqeJ44Dz73JZTevOqFbbYaQuS66C6UTJFdoDZ2GwQgLASkoM/HBqhcWJsfIDJCZoZEICqotlggFlYo/M4ea605jKJy7SoNbxGrYylzl2CTVKcE+/uIp3MQSqurIJMNPFNjgICiggp0bRCcgdB04t89/1O/w1cDnyilFU="
      LINE_CHANNEL_SECRET: "eb46f7b90daecfa30c6d959ac339cea4"

      OPEN_WEATHER_APPID: "c410ae0b72ae983222a1dce5da653f3b"
      SLACK_WEBHOOK: "/TLCN5BC74/B01GNUQ82G7/xQLkYVfXwZislicoeVRCFfB3"

networks:
  chatbot-service:
    name: chatbot-service-network
    driver: bridge