<div class="filter">
  <div>
    <button mat-flat-button color="primary" (click)="onClickFilterBtn(3)">3 hours</button>
    <button mat-flat-button color="primary" (click)="onClickFilterBtn(6)">6 hours</button>
    <button mat-flat-button color="primary" (click)="onClickFilterBtn(12)">12 hours</button>
  </div>
  <div>
    <button mat-flat-button color="accent" (click)="onClickFilterBtn(24)">1 day</button>
    <button mat-flat-button color="accent" (click)="onClickFilterBtn(72)">3 days</button>
    <button mat-flat-button color="accent" (click)="onClickFilterBtn(168)">7 days</button>
  </div>
</div>

<mat-form-field appearance="fill">
  <mat-label>Enter a date range</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate formControlName="start" placeholder="Start date">
    <input matEndDate formControlName="end" placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker touchUi #picker (closed)="onCloseDateRangePicker()"></mat-date-range-picker>
</mat-form-field>
