<router-outlet></router-outlet>

<mat-progress-bar *ngIf="showProgress" mode="indeterminate"></mat-progress-bar>
<div class="outer">
  <div class="inner">
    <div>
      <div class="data blue">
        <h3>{{ lastWeatherData.temperature }} °C</h3>
      </div>
      <div class="data green">
        <h3>{{ lastWeatherData.humidity }} %</h3>
      </div>
      <div>
        <p>{{ lastDiffMinutes }} mins before</p>
      </div>
    </div>
    <weather-chart
      [weatherDatas]="weatherDatas"></weather-chart>
    <filter #filter></filter>
  </div>
</div>
